@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{

    background-color: #ffff;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}


/* Section-2 */

.section-2-about{
    position: relative;
    margin: 2.5rem  4.5rem 0 4.5rem;
    height: 30rem;
    overflow: hidden;
    border-radius: 1rem;
}

.section-2-about img{
    position: absolute;
    width: 100%;
    top: -40rem;
    
}

/* Section-3 */

.section-3-about{
    margin: 2.5rem  4.5rem 0 4.5rem;
    position: relative;
}

.section-3-about h6{
    font-size: 3.6rem;
    font-weight: bold;
}

.section-3-about h6 span{
    color: #808080;
}


/* section-3 split content part */

contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

.content-wrapper-about{
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    gap: 4rem 4rem;
    place-items: center;
    align-items: center;
    
}

.line-div{
    width: 0.10rem;
    background-color: #0000cc;
    position: absolute;
    top: 8.33rem;
    height: 66rem;
    bottom: 0;
    left: 51.5%;
    transform: translateX(-50%);
    border-radius: 2px;
    overflow: hidden;
}


.image-content-about{
    width: 80%;
    height: 30rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.5rem;
    
}


.image-content-about img{
    width: 100%;
    position: absolute;
    top: -21rem;
}


.text-content-about{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text-content-about ul{
    width: 80%;
}

.text-content-about ul li{
    margin-top: 1rem;
    font-size: 1.4rem;
}

.text-content-about li span{
    font-weight: bold;
}

.text-content-about h2{
    font-size: 1.6rem;
    font-weight: bolder;
}


.about-us-img{
    position: relative;
}

.about-us-img img{
    position: absolute;
    top: -2rem;
}


/*  


.content-wrapper-about{
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.top-about-div,.bottom-div-about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.text-content-about{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.text-content-about h2{
    font-size: 1.6rem;
    font-weight: bolder;
}

.text-content-about ul{
    width: 95%;
}


.text-content-about ul li{
    margin-top: 1rem;
    font-size: 1.3rem;
}


.img-div-about{

    width: 35rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    border-radius: 0.5rem;
}


.img-div-about img{
    width: 100%;
    position: absolute;
    top: -15rem;
}

 */



/* Section-4-about */


.section-4-about{
    background-color: #f8f8f8;
    border-radius: 1rem;
    /* border-top: 0.01rem solid #808080; */
    margin-top: 4rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px gray;
}



/* Section-5-about */

.section-5-about{
    margin-top: 4rem;
}



/* Responsivenes */


@media (max-width:768px) {


    .section-2-about{
        margin: 1.5rem  3rem 0rem 3rem;
        overflow: hidden;
        border-radius: 0;
        height: auto;
    }
    
    
    .section-2-about img {
        position: relative;
        border-radius: 0.5rem;
        top: auto;
        object-fit: cover;
    }



    /* Section-3-about */

    .section-3-about {
        margin: 0.5rem 3rem 0rem 3rem;
    }

    .line-div{
        display: none;
    }
    
    .section-3-about > h6{
        font-size: 2.6rem;
    }

    

    .content-wrapper-about{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        gap: 0.5rem;
    }
    

    .image-content-about{
        height: 22rem;
        width: 100%;
    }

    .content-wrapper-about img{
        height: 100%;
        width: 100%;
    }
    

    .text-1{
        order: 2;
    }

    .text-2{
        order: 4;
    }

    .image-1{
        order: 1;
    }

    .image-2{
        order: 3;
    }

    .text-content-about h2{
        font-size: 1.6rem;
    }

    .text-content-about ul{
        list-style-position: inside;
        padding: 0rem 1.2rem;
        width: auto;
        list-style: none;
    }

    .text-content-about ul li{
        font-size: 1.25rem;
    }



    .about-us-img img {
        position: absolute;
        top: 0rem;
    }
    
    .image-content-about img {
        width: 100%;
        /* position: absolute; */
        /* top: -21rem; */
    }

    
    .section-4-about{
        padding: 0;
        margin: 0;
        margin-top: 2rem;
        border-radius: 0;
        box-shadow: none;
        padding-bottom: 2rem;
    }

    .section-4-about h6{
        width: 60%;
        margin-left: 2rem;
        
    }


   


}