.section-2-contact {
  position: relative;
  margin: 2.5rem 4.5rem 0 4.5rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 1rem;
}

.section-2-contact img {
  position: absolute;
  width: 100%;
  top: -25rem;

}

.section-3-contact {
  margin: 2rem 4.5rem 4rem 4.5rem;
}


.section-3-contact h2 {
  font-size: 4rem;

}

.section-3-contact h2 span {
  color: #808080;
}



/* FAQ Container  */

.contact-content-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.faq-container{
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.faq-wrapper-react,.faq-item-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  height: 100%;
}




.faq-item-container > p{
  border-bottom: 1px solid #ddd;
}



.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 2rem;
  font-weight: bolder;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.faq-content {
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.faq-content p {
  padding: 0.5rem 0;
  margin: 0;
  color: #444;
  font-size: 1.5rem;
  width: 80%;
}




/* Image Side */


.contact-img {
  flex: 1;             /* takes 50% width */
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img img {
  height: auto;
  width: 80%;
  max-width: 70rem;
  object-fit: contain;
}



@media (max-width:768px) {

  /* Section-2-service */

  .section-2-contact {
    border-radius: 0;
    margin: 1.5rem 3rem 0 3rem;
    overflow: hidden;
    height: auto;
  }

  .section-2-contact img {
    position: relative;
    top: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  /* Section-3-service */

  .section-3-contact {
    margin: 1rem 3rem 0rem 3rem;
  }

  .section-3-contact h2 {
    padding-left: 0;
    font-size: 2.6rem;
  }

  .contact-content-service {
    flex-direction: column;
    gap: 0rem;
    padding: 0rem 0rem;
  }

  .faq-container {
    order: 2;
  }

  .contact-img {
    order: 1;
    max-width: none;
  }

  .faq-wrapper-react,.faq-item-container{
    gap: 0.9rem;
  }

  .faq-container {
    width: 100%;
    max-width: none;
    margin-left: 0;
  
  }


  .faq-header h3{
    font-size: 1rem;
    font-weight: 600;
  }

  .arrow{
    font-size: 1rem;
  }

  .faq-content p{
    font-size: 1rem;
  }




 


}