.section-2-contact {
  position: relative;
  margin: 2.5rem 4.5rem 0 4.5rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 1rem;
}

.section-2-contact img {
  position: absolute;
  width: 100%;
  top: -25rem;

}

.section-3-contact {
  margin: 2rem 4.5rem 0rem 4.5rem;
}


.section-3-contact h2 {
  font-size: 4rem;

}

.section-3-contact h2 span {
  color: #808080;
}



/* FAQ Container  */

.contact-content-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  gap: 3rem;
}

.faq-container{
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.faq-wrapper-react,.faq-item-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  height: 100%;
}




.faq-item-container > p{
  border-bottom: 1px solid #ddd;
}



.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-header h3 {
  margin: 0;
  font-size: 1.5rem;
}

.arrow {
  transition: transform 0.3s ease;
  font-size: 2rem;
  font-weight: bolder;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.faq-content {
  overflow: hidden;
  transition: max-height 0.35s ease;
}

.faq-content p {
  padding: 0.5rem 0;
  margin: 0;
  color: #444;
  font-size: 1.5rem;
  width: 80%;
}




/* Image Side */


.contact-img {
  flex: 1;             /* takes 50% width */
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img img {
  height: auto;
  width: 80%;
  max-width: 70rem;
  object-fit: contain;
}


/* Section-4-contact */


.section-4-contact {
  margin: 4rem 4.5rem 0rem 4.5rem;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #808080;
}


.section-4-contact h2 {
  padding-left: 1rem;
  padding-top: 1.5rem;
  font-size: 4rem;

}

.section-4-contact h2 span {
  color: #808080;
}




.scroll-line-container {
  position: relative;
  width: 100%;
  padding-top: 24rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.line {
  position: relative;
  width: 95%;
  height: 4rem;
  background: #f5f5f5;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-line {
  position: absolute;
  height: 2px;
  width: 95%;
  background: #0000cc;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  z-index: 1;
}

.line-point {
  position: absolute;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  border: 3px solid #0000cc;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.dot {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background-color: #808080;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: left 0.3s linear;
  z-index: 3;
}

.dot.shrink {
  width: 12px;
  height: 12px;
  background-color: #0000cc;
}

.fade-card {
  position: absolute;
  bottom: 4rem;
  width: 25rem;
  height: 25rem;
  transform: translateX(-50%);
  pointer-events: none;

}

.fade-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 1;
  overflow: hidden;
}

.card-text {
  position: relative;
  z-index: 2;
  opacity: 0;
  height: 70%;
  bottom: 6rem;
  left: 3rem;
  transform: translateY(10px);


}

.fade-card.active img {
  opacity: 0;
}

.fade-card.active .card-text {
  opacity: 1;
  transform: translateY(20rem);
}

.fade-card h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.fade-card p {
  font-size: 1.3rem;
  color: #555;
  width: 85%;
  letter-spacing: 0.09rem;
  line-height: 1.7rem;
}



@media (max-width:768px) {

  /* Section-2-service */

  .section-2-contact {
    border-radius: 0;
    margin: 1.5rem 3rem 0 3rem;
    overflow: hidden;
    height: auto;
  }

  .section-2-contact img {
    position: relative;
    top: auto;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  /* Section-3-service */

  .section-3-contact {
    margin: 1rem 3rem 0rem 3rem;
  }

  .section-3-contact h2 {
    padding-left: 0;
    font-size: 2.6rem;
  }

  .contact-content-service {
    flex-direction: column;
    gap: 0rem;
  }

  .faq-container {
    order: 2;
  }

  .contact-img {
    order: 1;
    max-width: none;
  }

  .faq-wrapper-react,.faq-item-container{
    gap: 0.9rem;
  }

  .faq-container {
    width: 100%;
    max-width: none;
    margin-left: 0;
  
  }


  .faq-header h3{
    font-size: 1rem;
    font-weight: 600;
  }

  .arrow{
    font-size: 1rem;
  }

  .faq-content p{
    font-size: 1rem;
  }




  /* Section-4-contact */

  .section-4-contact {
    margin: 0rem 3rem 0rem 3rem;
  }

  .section-4-contact h2 {
    padding: 0;
    font-size: 3.5rem;
  }





}